<h1>Pirates</h1>
    <p><h2>Name: <%= @pirate.name %></h2></p>
    <p><h3>Weight: <%= @pirate.weight %> pounds</h3></p>
    <p><h3>Height: <%= @pirate.height %> inches</h3></p>


<h1>Ships</h1>
<% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
<% end %>


